extends layout.pug 

block content 
    .container 
        h2 Add a new staff

        if error
            p.error None of the fields should be empty! 

        if success
            p.success Staff member added successfully!

        form.form(action="/add" method='POST')

            label First Name:
            input(type="text" name='firstname')
            br
            
            label Last Name:
            input(type="text" name='secondname')
            br
            label Age:
            input(type="number" name='age')
            br

            label Email address:
            input(type="text" name='emailaddress')
            br

            label Major:
                select(name="major")
                    option(value="claw") Commercial law 
                    option(value="ecofin") Economics with finance
                    option(value="fin") Finance
                    option(value="busmag") Bussiness Managment
                    option(value="bis") Bussiness Information System 
            br

            button.btn Add a staff