extends layout.pug 

block content
    .container 
        h2.intro  This web application was created to fulfill testing requirements and does not represent an actual company or service. This app will allow users to create, delete and update staff data.
        a.featured(href="/add") Add a staff